<link rel="stylesheet" href="app/components/shared/header/header.component.css">

<div class="header d-flex justify-content-between align-items-center">
    <div class="logo">
        <img src="app/assets/images/logo3.png" alt="Logo" class="logo">
        <!-- <span class="logo-name">INFYNITY</span> -->
    </div>
    <div class="user-info">
        <div class="admin-avatar">
            <img src="app/assets/images/admin-avatar.png" alt="Admin" class="admin-placeholder">
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Kevin Nguyen <i class="fas fa-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
    </div>
  </div>
  