body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #E6EBF1 !important
}

.btn-primary {
    color: #ffffff;
    background-color: #00c4ba;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #2298ac;
    border: 1px solid #dee2e6;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #2298ac;
    border: 1px solid #dee2e6;
    color: #fff;
}

.spinner-border.text-primary {
    color: #00c4ba !important;
}

.modal-backdrop {
    opacity: 0 !important;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 100%;
        padding: 30px;
    }

}