<link rel="stylesheet" href="app/views/lenders/lenders.view.css">

<div class="page-container">
    <div class="lender-heading-text">Lender Maintenance</div>
    <div ng-controller="LendersViewController as vm">
        <div ng-show="vm.loading" class="text-center mt-5">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div ng-show="vm.errorLoading" class="text-center mt-5">
            <div class="alert alert-danger" role="alert">
                {{ vm.errorLoadingMessage }}
            </div>
            <button class="btn btn-primary" ng-click="vm.retryFetch()">Try Again</button>
        </div>
        <div ng-hide="vm.loading">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-light thead-white-bg table-sticky-top">
                        <tr>
                            <th class="text-center" id="bank_code"  colspan="1">Bank Code</th>
                            <th class="text-center"  id="display_name" colspan="1">Display Name</th>
                            <th class="text-center" id="type" colspan="1">Type</th>
                            <th class="text-center" id="commissions" colspan="3" >Commissions</th>
                            <th class="text-center" id="balance_multiplier" colspan="1">Balance Multiplier</th>
                            <th class="text-center" id="active" colspan="1">Active</th>
                            <th class="text-center"  id="hide" colspan="1">Hide</th>
                            <th class="text-center" id="edit" colspan="1">Edit</th>
                        </tr>
                        <tr>
                            <th id="blank_1"></th>
                            <th id="blank_2"></th>
                            <th  id="blank_3"></th>
                            <th class="text-center" id="upfront_commission">Upfront</th>
                            <th class="text-center" id="trail_high">Trail High</th>
                            <th class="text-center" id="trail_low">Trail Low</th>
                            <th  id="blank_4"></th>
                            <th  id="blank_5"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lender in vm.displayedLenderItems">
                            <td class="align-middle text-center">{{ lender.attributes.code }}</td>
                            <td class="align-middle">{{ lender.attributes.name }}</td>
                            <td class="align-middle">{{ lender.attributes.type }}</td>
                            <td class="align-middle text-center">{{ lender.attributes.upfront_commission | number: vm.conditionalDecimalPlaces(lender.attributes.upfront_commission) }}%
                            </td>
                            <td class="align-middle text-center">{{ lender.attributes.high_trail_commission |number: vm.conditionalDecimalPlaces(lender.attributes.high_trail_commission) }}%</td>
                            <td class="align-middle text-center">{{ lender.attributes.low_trail_commission | number: vm.conditionalDecimalPlaces(lender.attributes.low_trail_commission) }}%
                            </td> 
                            <td class="align-middle text-center">{{ lender.attributes.balance_multiplier | number:0 }}
                            </td>
                            <td class="align-middle text-center"><input type="checkbox"
                                    ng-checked="lender.attributes.is_active" disabled></td>
                            <td class="align-middle text-center"><input type="checkbox"
                                    ng-checked="lender.attributes.is_hidden" disabled></td>
                            <td class="align-middle text-center">
                                <button class="btn btn-sm" ng-click="vm.openEditModal(lender)">
                                    <span class="edit-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg> Edit</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
   
                <ul uib-pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                    ng-model="vm.currentPage" max-size="20" class="pagination-lg pagination-table"
                    ng-change="vm.pageChange()"></ul>
            </div>
        </div>
    </div>
</div>