<link rel="stylesheet" href="app/views/lenders/lenders.view.css">

<div ng-controller="LendersViewController as vm">
    <div ng-show="vm.loading" class="text-center mt-5">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <div ng-show="vm.errorLoading" class="text-center mt-5">
        <div class="alert alert-danger" role="alert">
            {{ vm.errorLoadingMessage }}
        </div>
        <button class="btn btn-primary" ng-click="vm.retryFetch()">Try Again</button>
    </div>
    <div ng-hide="vm.loading">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-light thead-white-bg table-sticky-top">
                    <tr>
                        <th class="text-center">Bank Code</th>
                        <th class="text-center">Display Name</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Upfront Commission</th>
                        <th class="text-center">Trail High</th>
                        <th class="text-center">Trail Low</th>
                        <th class="text-center">Balance Multiplier</th>
                        <th class="text-center">Active</th>
                        <th class="text-center">Hide</th>
                        <th class="text-center">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lender in vm.displayedLenderItems">
                        <td class="align-middle text-center">{{ lender.attributes.code }}</td>
                        <td class="align-middle">{{ lender.attributes.name }}</td>
                        <td class="align-middle">{{ lender.attributes.type }}</td>
                        <td class="align-middle text-center">{{ lender.attributes.upfront_commission | number:2 }}</td>
                        <td class="align-middle text-center">{{ lender.attributes.high_trail_commission | number:2 }}</td>
                        <td class="align-middle text-center">{{ lender.attributes.low_trail_commission | number:2 }}</td>
                        <td class="align-middle text-center">{{ lender.attributes.balance_multiplier | number:2 }}</td>
                        <td class="align-middle text-center"><input type="checkbox" ng-checked="lender.attributes.is_active" disabled></td>
                        <td class="align-middle text-center"><input type="checkbox" ng-checked="lender.attributes.is_hidden" disabled></td>
                        <td class="align-middle text-center">
                            <button class="btn btn-sm btn-outline-primary" ng-click="vm.openEditModal(lender)">
                                <i class="fas fa-edit"></i> Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ul uib-pagination 
                total-items="vm.totalItems"
                items-per-page="vm.itemsPerPage"
                ng-model="vm.currentPage"
                max-size="5"
                class="pagination-lg pagination-table"
                ng-change="vm.pageChange()"></ul>
        </div>
    </div>
</div>
